:root {
    --main-background: #F5EBDD;
    --page-background: #0B3218;

    --accent-orange: #F2765E;
    --accent-blue: #315B8C;

    --text-dark-color: #413333;
    --text-color: #F5EBDD;

}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-color: var(--page-background);
}


/* main table */

.table {
    position: relative;

    width: 100%;
    min-height: 100vh;

    padding: 0;
}


/*   card back*/

.card-back {
    position: absolute;

    top: 9%;
    left: 5%;

    /* width: 260px; */
    /* width: 12rem; */
    width: calc((100% - (6 * 12px)) / 7);
    /* padding: 1rem; */


    transform: rotate(-20deg);


    /* the marble pattern part */
    img {
        display: block;

        width: 100%;
        height: auto;
    }
}




/* playing cards*/

.cards {
    position: absolute;

    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);

    width: min(1175px, 82vw);

    display: grid;
    grid-template-columns:
        repeat(7, 1fr);
    gap: 12px;
    align-items: start;

    .playing-card {
        width: 100%;


        img {
            display: block;

            width: 100%;
            height: auto;
        }
    }



}






/* Responsiveness for iPhone*/

@media (max-width: 600px) {

    .table {
        min-height: 100vh;
    }


    /*   card back iPhone*/
    .card-back {
        top: 8%;
        left: 13%;

        /* width: 105px; */
        /* width: calc((220px - 20px) / 2); */
        /* width: calc((44vw - 4vw) / 2); */
        width: 20vw;

        transform: rotate(-20deg);
    }


    /* playing cards iPhone*/
    .cards {
        position: absolute;

        left: 50%;
        bottom: auto;
        top: 26.5%;

        transform: translateX(-50%);

        /* width: 220px; */
        width: 44vw;

        display: grid;

        grid-template-columns:
            /* repeat(2, 100px); */
            repeat(2, 1fr);


        /* column-gap: 20px; */
        column-gap: 4vw;

        /* row-gap: 6px; */
        row-gap: 4vw;


        align-items: start;


        .playing-card {
            width: 100px;

            .playing-card img {
                display: block;

                width: 100%;
                height: auto;
            }
        }
    }



}